extends layout

block content
  h1= title
  if !user
    p#welcome Welcome to #{title}, sign up to view messages!
  else 
    if user.isMember
      p#welcome Welcome #{user.first_name}!
    else
      p#welcome Welcome #{user.first_name}! To become a member, enter the password <a href="/secret">here</a>.
    h2 Messages
    ul#messages
      each message in messages
        - 
          const options = {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            hour12: true,
          };
      
        - const formatter = new Intl.DateTimeFormat('en-US', options);
        - const formattedDate = formatter.format(message.timestamp);

        li.message
          h3 <strong>#{message.title}</strong>
          p.messageText #{message.text}
          p #{message.sender.email}
          p #{formattedDate}
        hr
  br
  if !user
    div
      a(href='/sign_in') Sign in
    div
      a(href ='/sign_up') Sign up
  else
    div
      a(href='/logout') Log out
    if user.isMember
      div
        a(href='/messages_create') Create message

  h1= message
  if user
    